
body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

#searchForm{
    width:80%;
}

#gitHub-links{
    margin-top: 20px;
 }

#submit-btn {
    background-color:#7234ee;
    border: none;
    color: white;
    padding: 8px 38px;
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.titlebar {
    color:white;
    background-color:#7234ee;
    text-align: center;
    padding: 40px;
    margin-bottom: 0px;
}

.contentSearch {
    width: 50%;
    float: left;
    background:white;
    height: 100%;
    padding: 30px 30px 20px 30px;
    padding-left: 30px;
}

.contentFav {
    width: 50%;
    float: right;
    background: #f3ecfe;
    height: 100%;
    padding-top: 30px;
    padding-right: 30px;
}